<app-navbar ></app-navbar>

<div *ngIf="stud">
    <h2>{{stud.nom + " " + stud.prenom}}</h2>
    
    <form>
        <table class="table table-bordered table-striped" id="gradeTable">
            <thead class="thead-dark">
                <tr>
                    <th scope="col" data-field="Nom">Saisie nom</th>
                    <th scope="col" data-field="Prenom">Saisie prénom</th>
                    <th scope="col" data-field="Nom">Saisie age</th>
                    <th scope="col" data-field="Nom">Saisie mail</th>
                </tr>
            </thead>

            <tbody>
                <td><input id="saisieNom" type="text" value="{{stud.nom}}" placeholder="Nom de famille"></td>
                <td><input id="saisiePrenom" type="text" value="{{stud.prenom}}" placeholder="Prénom"></td>
                <td><input id="saisieAge" type="text" value="{{stud.age}}" placeholder="Age"></td>
                <td><input id="saisieMail" type="text" value="{{stud.mail}}" placeholder="Mail"></td>
            </tbody>
            <input type="submit">    
        </table>

    </form>
</div>