<app-navbar></app-navbar>
<div *ngIf="stud" style="width: 75%;position: relative; left: 12.5%" >
    <form method="post" >
        <table class="table table-bordered table-striped">
            <thead class="thead-dark">
                <th hidden="true"></th>
                <th>Saisie nom</th>
                <th>Saisie prénom</th>
                <th>Saisie cursus</th>
                <th>Saisie site</th>
                <th>Saisie mail</th>
            </thead>
            <tbody>
                <tr>
                    <td hidden="true">
                        <input class="" type="id" value="{{stud.id}}" placeholder="" hidden="true"><br>
                    </td>
                    <td>
                        <input id="saisieNom" class="" type="text" [(ngModel)]="stud.nom" value="{{stud.nom}}" name="nomFamille" placeholder="Nom de famille"><br>
                    </td>
                    <td>
                        <input id="saisiePrenom" class="" type="text" [(ngModel)]="stud.prenom" value="{{stud.prenom}}" name="prenom" placeholder="Prénom"><br>
                    </td>
                    <td>
                        <input id="saisieCursus" class="" type="text" [(ngModel)]="stud.cursus" value="{{stud.cursus}}" name="cursus" placeholder="cursus"><br>
                    </td>
                    <td>
                        <input id="saisieSite" class="" type="text" [(ngModel)]="stud.site" value="{{stud.site}}" name="site" placeholder="Site"><br>
                    </td>
                    <td>
                        <input id="saisieMail" class="" type="text" [(ngModel)]="stud.mail" value="{{stud.mail}}" name="mail" placeholder="Adresse mail"><br>
                    </td>
                </tr>
            </tbody>
        </table>
    </form>
    <button type="submit" (click)="updateStudent(stud)">Envoyer</button>
        <button routerLink="../../">Retour</button>
</div>