<app-navbar ></app-navbar>

<table class="table table-bordered table-striped" id="gradeTable">
    <thead class="thead-dark">
        <tr>
            <th class="col-sm-2" hidden="true">ID</th>
            <th scope="col" data-field="Nom">Nom</th>
            <th scope="col" data-field="Prenom">Prénom</th>
            <th scope="col" data-field="Nom">Age</th>
            <th scope="col" data-field="Nom">Cours</th>
            <th scope="col" data-field="Nom">Actions</th>
        </tr>
    </thead>

    <tbody>
            <tr *ngFor="let person of persons">
                <td hidden="true">{{person.id}}</td>
                <td>{{person.nom}}</td>
                <td>{{person.prenom}}</td>
                <td>{{person.age}}</td>
                <td>
                    <ul>
                        <li *ngFor="let cours of person.list_cours" style="list-style: none;">{{cours.nom_cours}}</li>
                    </ul>
                </td>
                <td>
                    <div class="mx-auto" style="width: 60px;">
                        <a class="action-picture" href="./users/modify"><img src="../../assets/Images/edit.png" title="Editer"></a>
                        <a class="action-picture" href="#"><img src="../../assets/Images/delete.png" title="Supprimer"></a>
                    </div>

                </td>
            </tr>
    </tbody>
</table>
<router-outlet></router-outlet>